<div class="">
    <ul class="list-group">
        <li class="list-group-item">
            <h3>frontend
                <span class="badge badge-secondary">HTML5</span>
                <span class="badge badge-secondary">CSS3</span>
                <span class="badge badge-secondary">JavaScript</span>
                <span class="badge badge-danger">Angular</span>
                <span class="badge badge-secondary">Bootstrap</span>
                <span class="badge badge-secondary">jQuery</span>
            </h3>
        </li>
        <li class="list-group-item">
            <h3>backend
                <span class="badge badge-secondary">PHP</span>
                <span class="badge badge-success">Spring Boot</span>
                <span class="badge badge-success">Microservices</span>
                <span class="badge badge-success">Django</span>
            </h3>
        </li>
        <li class="list-group-item">
            <h3>programming
                <span class="badge badge-secondary">python</span>
                <span class="badge badge-secondary">java</span>
                <span class="badge badge-secondary">c++</span>
                <span class="badge badge-secondary">c</span>     
            </h3>
        </li>
        <li class="list-group-item">
            <h3>ML DL
                <span class="badge badge-secondary">Scikit-learn</span>
                <span class="badge badge-secondary">TensorFlow</span>    
            </h3>
        </li>
        <li class="list-group-item">
            <h3>deployment
                <span class="badge badge-secondary">Heroku</span>
                <span class="badge badge-secondary">Github</span>    
            </h3>
        </li>
        <li class="list-group-item">
            <h3>cloud
                <span class="badge badge-secondary">AWS basics</span> 
            </h3>
        </li>
        <li class="list-group-item">
            <h3>version control
                <span class="badge badge-secondary">Github</span> 
            </h3>
        </li>
    </ul>
</div>