<div class="">
    <ul class="list-group">
        <li class="list-group-item bg-light">
            <h3 class="card-title">Driver distraction and drowsiness detection</h3>
            <h5 class="card-subtitle text-muted">Developed a Web App, deep learning model to detect if a
                driver feels drowsy or perform any other activities thatleads
                to accidents using Convolution neural networks</h5>
        </li>
        <li class="list-group-item bg-warning">
            <h3>Digital letter system</h3>
            <h5 class="card-subtitle text-muted">Web App that automates the traditional letter system and
                whole process digitally with a smooth flow in the
                permission process.</h5>
        </li>
        <li class="list-group-item bg-light">
            <h3>TODO list full stack</h3>
            <h5 class="card-subtitle text-muted">Developed a To-do list application where a user can login
                and add tasks or notes to be done and review them whenever
                required.
                User can also delete the tasks whenever required.</h5>
        </li>
        <li class="list-group-item bg-warning">
            <h3>Visualization Dashboard</h3>
            <h5 class="card-subtitle text-muted">Visualization dashboard web application where user can
                upload CSV files and understand the analytics process by
                visualizing trends and occurrences.</h5>
        </li>
        <li class="list-group-item bg-light">
            <h3>Voice prescription</h3>
            <h5 class="card-subtitle text-muted">App to write formatted prescriptions based on dictation from
                doctor. The app should provide facility to sign the
                prescription and also send to the patient directly on his phone
                and email id.</h5>
        </li>
        <li class="list-group-item bg-warning">
            <h3>Smart water tap</h3>
            <h5 class="card-subtitle text-muted">An IOT project that helps in reducing the wastage of water
                by automating the tap operation using IR sensors and motor
                controllers.</h5>
        </li>
    </ul>
</div>