<div class="card-body bg-info">
  <div style="margin-left:auto;margin-right:auto;width:250px;height:auto;">
    <img class="card-img-top" src="assets/my.jpg" alt="ss">
  </div><br>
  <h1 class="card-title text-light">BHARAT CHANDRA</h1>
  <h4 class="card-text">I pursued my B.Tech in the Information Technology department at <a href="https://vignaniit.edu.in/" target="_blank" style="color: black;">Vignan's Institute of Information Technology</a>. I am a passionate programmer and developer who explores various
    technologies and builds full stack web applications and AI/ML models.
    Worked as intern and developed several projects. Also, participated in
    various hackathons and could gain good experience. I am also found of creative activities such as drawing, music , etc. #selfmotivating #learn #build</h4>
  <div style="background-color: chocolate;">
    <a href="https://www.fiverr.com/s2/96a923e9fb" style="color:black" target="_blank">➡️ Contact me for freelance projects 💙</a>
  </div>
</div>