<div class="card-body bg-info">
  <div style="margin-left:auto;margin-right:auto;width:250px;height:auto;">
    <img class="card-img-top" src="assets/my.jpg" alt="ss">
  </div><br>
  <h1 class="card-title text-light">BHARAT CHANDRA</h1>
  <h4 class="card-text">I'm Bharat Chandra. I pursued my B.Tech in the Information Technology department at Vignan's Institute of Information Technology. I am a programmer and a developer who builds web applications, Deep Learning and Machine Learning models, etc. I am passionate in learning new technology and apply then to build projects , prepare myself professionally. I am also found of creative activities such as drawing, music , etc. #selfmotivating #learn #build</h4>
  <div style="background-color: chocolate;">
    <a href="https://www.fiverr.com/s2/96a923e9fb" style="color:black">➡️ Contact me for freelance projects 💙</a>
  </div>
</div>